* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%;
  width: 100%;
  font-family: raleway; }

.nav_cont {
  position: absolute;
  max-width: 1500px;
  width: 100%;
  margin: auto;
  height: 100px;
  z-index: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  .nav_cont .nav {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 100px;
    margin-top: 50px; }
  .nav_cont ul {
    right: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    margin: 0px; }
  .nav_cont li {
    height: 100%;
    width: auto;
    margin: 0 10px;
    vertical-align: middle;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px; }
  .nav_cont a {
    color: white; }
    .nav_cont a :hover {
      text-decoration: underline; }

.mf_main {
  height: auto;
  width: 100%;
  background-color: white;
  max-width: 1500px;
  margin: auto;
  text-align: center; }
  .mf_main h1 {
    color: #94c23e;
    font-size: 50px;
    padding-bottom: 10px; }
  .mf_main h2 {
    color: #94c23e;
    font-size: 22px; }
  .mf_main h3 {
    margin-top: 0;
    color: #94c23e;
    font-size: 18px; }
  .mf_main p {
    margin: 40px auto 20px auto;
    width: 85%;
    font-size: 15px; }
  .mf_main .headerImg_cont {
    position: relative;
    width: 100%;
    height: auto; }
    .mf_main .headerImg_cont .headerImg {
      width: 100%;
      height: auto;
      z-index: 0; }
    .mf_main .headerImg_cont .logoImg {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: url("img/large-v@2x.png") no-repeat center;
      background-size: auto 30%; }
  .mf_main .sustainable_living .container {
    margin-top: 70px; }
  .mf_main .sustainable_living img {
    height: 100px;
    margin: 20px;
    padding: 10px; }
  .mf_main .future_home_automation .vesta-logo {
    height: 100px;
    padding: 10px; }
  .mf_main .future_home_automation .vesta-cont {
    position: relative;
    width: 100%;
    height: auto; }
  .mf_main .future_home_automation .vesta-back {
    width: 100%; }
  .mf_main .future_home_automation .vesta-phone {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background: url("img/vesta-phone@2x.png") no-repeat center bottom;
    background-size: auto 80%; }
  .mf_main .cta {
    margin-bottom: 0; }

.mf_section {
  margin: auto;
  padding: 70px 0; }

button {
  background-color: #94c23e;
  line-height: 0px;
  padding: 32px 60px;
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 15px;
  border: none;
  border-radius: 4px;
  color: white;
  box-shadow: 1px 1px 1px lightgray;
  transition: background-color .3s;
  -webkit-transition: background-color .3s;
  -moz-transition: background-color .3s;
  -o-transition: background-color .3s; }
  button:hover {
    background-color: #739631; }

@media screen and (max-width: 800px) and (min-height: 601px) {
  .nav_cont {
    justify-content: center;
    height: 50px; }
    .nav_cont .nav {
      margin-right: 0px;
      margin-top: 20px; }
    .nav_cont li {
      margin: 0 5px;
      font-size: 12px;
      text-decoration: underline; } }
@media screen and (max-width: 550px) and (min-height: 601px) {
  .nav_cont li {
    font-size: 10px; } }

/*# sourceMappingURL=style.css.map */
